#database
config/database.yml
db/schema.rb

#cache
public/cache/**/*

#log
log/*.log

#tmp
tmp/**/*

#docs
doc/api
doc/app

#twitter
config/twitter.yml

#moonshine/capistrano
app/manifests/application_manifest.rb
config/gems.yml
config/moonshine.yml
config/deploy.rb
Capfile

#OSX/textmate
.DS_Store
.project
.loadpath
Thumbs.db