<p>
  <strong>Twitter ID:</strong> <%=h @user.twitter_id %>
</p>
<p>
  <strong>Twitter Key:</strong> <%=h @user.twitter_token %>
</p>
<p>
  <strong>Twitter Secret:</strong> <%=h @user.twitter_secret %>
</p>

<%= link_to 'Edit', edit_account_path %>